@media screen and (max-height: 680px) {
    .navbar-wrapper {
        display: none;
    }

    .navbar-wrapper-mobile {
        display: flex;
    }

    .navbar-wrapper-mobile {
        .links-wrapper {
            gap: 30px;
        }
    }

    .app-wrapper {
        .home-wrapper {
            .page-content {
                font-size: 1rem;
                line-height: initial;

                * {
                    margin: 0px;
                }
    
                .content-block-with-image .content {
                    background-color: rgba(0,0,0,.5);
                }
    
                .content-block, .content-block-with-image {
                    height: calc(100vh - 50px);
                }
                
                .content-block, .content-block-with-image .content .text-content {
                    gap: 7px;
                }
            }
        }

        .page-wrapper {
            padding: 0px 7vw;

            .page-content {
                padding: 0px 7vw;

                .table-wrapper .table-columns .table-column {
                    line-height: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .navbar-wrapper, 
    .footer-wrapper, 
    .table-wrapper,
    .carousel-wrapper {
        display: none;
    }

    .navbar-wrapper-mobile, 
    .footer-wrapper-mobile, 
    .table-wrapper-mobile,
    .carousel-wrapper-mobile {
        display: flex;
    }

    .footer-wrapper-mobile {
        align-items: center;
        font-size: .9rem;
        padding: 10px 0px;
    }

    .app-wrapper {
        .home-wrapper {
            .page-content {
                font-size: 1rem;
                line-height: initial;
    
                p {
                    line-height: 25px;
                }
    
                .content-block, .content-block-with-image .content .text-content {
                    padding: 0px 7vw;
                }
    
                .content-block-with-image .content {
                    background-color: rgba(0,0,0,.5);
                }
    
                .content-block .showcase-block-wrapper {
                    flex-direction: column;
                    align-items: center;
                    gap: 0px;
    
                    .showcase-block img {
                        width: 50vw;
                        height: 50vw;
                    }
                }

                .media-min-height {
                    min-height: 125vw;
                }
            }
        }

        .page-wrapper {
            padding: 0px 7vw;

            .page-content {
                padding: 0px 7vw;

                ol {
                    padding-left: 7vw;
                }

                .table-wrapper-mobile {
                    h3 {
                        color: $secondary-color;
                        margin: 10px;
                    }

                    .table-row {
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 10px;

                        .table-row-content {
                            flex-direction: row;

                            .table-column {
                                color: $secondary-color;
                            }
                        }
                    }
                }

                .carousel-wrapper-mobile {
                    .carousel-top .carousel-image {
                        width: 71vw;

                        .carousel-image-locker .locker-image img {
                            height: 71vw;
                            width: 71vw;
                            object-fit: contain;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }
}